body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
}

h1 {
    margin: 0px;
    font-size: 48px;
    color: #F9FAF8;
}

/*Header*/
.header {
    background-color: #1F2937;
    padding: 10px 150px 80px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}
.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a,
.container div{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
    display: inline-block;
    transition: ease-in 0.1s;
    
}

a:hover {
    transform: translate(0,-2px);
    color:#497fd6;
    text-shadow: 0px 5px 5px black;
}
.introduction {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.introduction img {
    max-width: 400px;
    flex:1;
}

.header div {
    color: white;
}

.introduction button {
    margin-top: 10px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border-style: none;
    transition: ease-in 0.1s;
}

.introduction button:hover {
    margin-top: 10px;
    color: white;
    background-color: #194b9b;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border-style: none;
    transform: scale(1.1);
}
.container {
   max-width: 500px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/*Information*/
.info-title {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 30px auto 30px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    flex: 1;
}

.information {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes img {
    border-radius: 5px;
    border: 5px solid #3882f6;
    transition: ease 0.2s;
}

.boxes img:hover {
    transform: translate(0px,-5px);
    box-shadow: 0 3px 10px black;
    filter: brightness(90%);
}

/*Quotes*/
.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    flex: 1;
}

.author {
    align-self: end;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

/*Sign up*/
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 100px auto 100px auto;
    padding: 25px 50px 25px 50px;
    max-width: 550px;
    gap: 30px;
    border-radius: 5px;
    flex: 1;
}

.sign-up div {
    flex: 1;
    color: white;
}

.sign-up button {
    background-color: #3882f6;
    border-color: white;
    text-decoration: none;
    color:white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border-style: solid;
    transition: ease-in 0.1s;
}

.sign-up button:hover {
    background-color: #245cb7;
    border-color: white;
    text-decoration: none;
    color:white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    border-style: solid;
    transform: scale(1.1);
}
/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    flex: 1;
}

img {
    width: 200px;
    height: auto;
}